$primary_color: #ffc916;$secondary_color: #233050;$link_color: #ffc916;$link_color_hover: #f3bc0b;$link_color_active: #f3bc0b;
                $body_default_font: GT-Walsheim-Regular;
            
                $heading_default_font_medium: GT-Walsheim-Medium;
            
                $heading_default_font_bold: GT-Walsheim-Bold;
            $menu_default_font: Cabin;